<main class="main">
  <section class="todo-container">
    <h1 class="words">Todo List</h1>
    <h2 class="words">A place to store your todos</h2>

    <form class="form" #filterForm="ngForm" (input)="setSearchTerm(filterForm)">
      <input
        type="text"
        name="searchTerm"
        placeholder="Filter Your ToDos"
        ngModel
      />
    </form>
    <p *ngIf="todos.length === 0">Enter some To-Dos</p>
    <ol class="todo-list">
      <li *ngFor="let todo of filter(); index as i">
        <div class="list-item-row">
          <button
            class="complete"
            *ngIf="todo.complete === false"
            (click)="completeTask(i)"
          >
            Completed
          </button>

          <p
            *ngIf="showIndex !== i"
            class="task"
            [ngClass]="{ done: todo.complete }"
            (click)="setShowIndex(i)"
          >
            {{ todo.task }}
          </p>

          <form
            class="update-form"
            *ngIf="showIndex === i"
            (submit)="resetShowIndex()"
          >
            <input
              class="update-form"
              type="text"
              name="update"
              [(ngModel)]="todo.task"
            />
          </form>

          <button class="delete" (click)="removeTask(i)">X</button>
        </div>
      </li>
    </ol>

    <form #newTaskForm="ngForm" (ngSubmit)="addTask(newTaskForm)" class="form">
      <input type="text" name="task" placeholder="Add Your ToDo" ngModel />
      <button class="add">Add</button>
    </form>
  </section>
</main>
